/* fonts */

/* main 
font-family: "Spline Sans", sans-serif;
  */
/* font  */
.winky-font{
  font-family: "Winky Sans", sans-serif;
}
/*start main formats */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.w-full{
  width: 100%;
}
/*end main formats */

/*start display flex */

.d-flex{
  display: flex;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-d-column{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.space-b{
  justify-content: space-between;
}
.flex-grow{
  flex-grow: 1;
}
/*end display flex */
/* start display grid */
.d-grid{
  display: grid;
}
/* end display grid */
/* start position */
.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
/* end position */
/*start global formate */
.d-block{
  display: block;
}
.padding-30{
  padding: 30px;
}
.margin-b-10{
  margin-bottom: 10px;
}
/*end global formate */

/*start home page formate */
.grid-system{
  grid-template-columns: repeat(12 , 1fr);
  grid-template-rows: repeat(3 , auto);
}
/*end home page formate */