/* start divide-system media  */
@media (min-width:1200px) {
    .content .commerce .part-one{
        grid-area: span 4 / span 3;
        order: 1;
    }
    .content .commerce .part-three{
        grid-area: span 2 / span 4;
        order: 2;
    }
    .content .commerce .part-two{
        grid-area: span 2 / span 5;
        order: 3;
    }
    .content .commerce .part-four{
        grid-area: span 2 / span 9;
        order: 4;
    }
}
@media (min-width:900px) and (max-width:1199px) {
    .content .commerce .part-one{
        grid-area: span 3 / span 5;
        order: 1;
    }
    .content .commerce .part-three{
        grid-area: span 1 / span 7;
        order: 3;
    }
    .content .commerce .part-two{
        grid-area: span 2 / span 7;
        order: 2;
    }
    .content .commerce .part-four{
        grid-area: span 1 / span 12;
        order: 4;
        /* grid-row: span 3; */
    }
}
@media (min-width:0px) and (max-width:899px) {
    .content .commerce .part-one{
        grid-area: span 4 / span 12;
        order: 1;
    }
    .content .commerce .part-three{
        grid-area: span 1 / span 12;
        order: 3;
    }
    .content .commerce .part-two{
        grid-area: span 1 / span 12;
        order: 2;
    }
    .content .commerce .part-four{
        grid-area: span 1 / span 12;
        order: 4;
    }
}
/* end divide-system media  */
/* start part-one */
.content .commerce .part-one{
    background-color: var(--back-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
.content .commerce .part-one .date {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.content .commerce .part-one .date p:first-child{
    font-size: 13px;
    color: var(--sub-color);
    margin-bottom: 10px;
}
.content .commerce .part-one .date p:last-child{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}
.content .commerce .part-one .updates {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.content .commerce .part-one .updates p{
    color: var(--sub-color);
    font-size: 13px;
}
.content .commerce .part-one .updates .updates-content div i{
    color: var(--main-color);
    margin-right: 8px;
    width: 35px;
    height: 35px;
    background-color: var(--icon-bacgroung);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
}
.content .commerce .part-one .updates .updates-content div .number{
    font-size: 25px;
    font-weight: 600;
}
.content .commerce .part-one .updates .updates-content div span:last-child{
    font-size: 15px;
    color: var(--text-color);
}
@media (min-width:0px) and (max-width:899px)  {
    .content .commerce .part-one .updates .updates-content{
        flex-direction: row;
        justify-content: space-between;
    }
    .content .commerce .part-one .updates .updates-content div{
        margin: 0;
        border-left: 1px solid var(--border-color);
        padding-left: 20px;
        width: calc(100% / 3);
    }
    .content .commerce .part-one .updates .updates-content div i ,
    .content .commerce .part-one .updates .updates-content div span{
        display: flex;
        margin-bottom: 15px;
    }
}
.content .commerce .part-one .schedule > p{
    font-size: 13px;
    color: var(--sub-color);
}
.content .commerce .part-one .schedule .schedule-content .box {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--icon-bacgroung);
    margin-bottom: 5px;
    position: relative;
    transition: var(--transition);
}
.content .commerce .part-one .schedule .schedule-content .box:hover {
    background-color: var(--border-color);
}
.content .commerce .part-one .schedule .schedule-content .box .box-detail p{
    font-size: 14px;
    margin-bottom: 10px;
}
.content .commerce .part-one .schedule .schedule-content .box .box-detail span{
    font-size: 12px;
    color: var(--sub-color);
}
.content .commerce .part-one .schedule .schedule-content .box .box-images{
    display: flex;
    align-items: flex-end;
}
.content .commerce .part-one .schedule .schedule-content .box .box-images img{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
}
.content .commerce .part-one .schedule .schedule-content .box .box-images img:not(:last-child){
    right: 0;
    z-index: 4;
}
.content .commerce .part-one .schedule .schedule-content .box .box-images img:nth-child(2){
    right: 13px;
    z-index: 3;
}
.content .commerce .part-one .schedule .schedule-content .box .box-images img:nth-child(3){
    right: 26px;
    z-index: 2;
}
.content .commerce .part-one .schedule .schedule-content .box .box-images img:nth-child(4){
    right: 39px;
    z-index: 1;
}
.content .commerce .part-one .schedule .schedule-content .link{
    color: var(--main-color);
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.content .commerce .part-one .schedule .schedule-content a{
    transition: var(--transition);
    color: var(--main-color);
    padding: 5px;
}
.content .commerce .part-one .schedule .schedule-content a:hover{
    background-color: var(--hover-color);
    border-radius: 10px;
}
.content .commerce .part-one .schedule .schedule-content a i{
    margin-left: 5px 10px;
}
.content .commerce .part-two{
    border-bottom: 1px solid var(--border-color);
    min-height: 300px;
}
.content .commerce .part-two .part-two-image{
    background-image: url(../../assets/image/homepage/part-two.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 10px;
    border-radius: 15px;
    color: #066f49;
}
.content .commerce .part-two .part-two-image .part-two-details p{
    font-weight: 600;
    font-size: 20px;
}
.content .commerce .part-two .part-two-image .part-two-details span{
    font-weight: 600;
    font-size: 35px;
    margin-top: 10px;
    display: block;
}
.content .commerce .part-three{
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}
.content .commerce .part-three .part-three-box h4{
    font-size: 20px;
    margin-bottom:10px ;
}
.content .commerce .part-three .part-three-box p{
    font-size: 15px;
    color: var(--sub-color);
    margin-bottom: 20px;
}
.content .commerce .part-three .part-three-box .profit-footer .earn span:first-child{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}
.content .commerce .part-three .part-three-box .profit-footer .earn span:nth-child(2){
    margin-right: 5px;
    width: 40px;
    padding: 2px;
    border-radius: 20px;
    font-size: 13px;
}
.content .commerce .part-three .Profit .profit-footer .earn span:nth-child(2){
    background-color: #daf1e9;
    border: 1px solid #a6ddc9;
}
.content .commerce .part-three .Revenue .profit-footer .earn span:nth-child(2){
    background-color: #feeedf;
    border: 1px solid #fdd6b2;
}
.content .commerce .part-three .part-three-box .profit-footer .earn span:last-child{
    color: var(--sub-color);
}
.content .commerce .part-three .Profit{
    border-bottom: 1px solid var(--border-color);
}
@media (max-width:500px) {
    .content .commerce .part-three .part-three-box h4{
        font-size: 17px;
    }
    .content .commerce .part-three .part-three-box p{
        font-size: 12px;
    }
    .content .commerce .part-three .part-three-box .profit-footer .earn span:first-child{
        font-size: 20px;
    }
    .content .commerce .part-three .part-three-box .profit-footer .earn span:nth-child(2){
        font-size: 11px;
        display: block;
        margin-bottom: 5px;
    }
}
.content .commerce .part-four{
    border-bottom: 1px solid var(--border-color);
}
.content .commerce .part-four .part-four-header{
    margin-bottom: 20px;
} 
.content .commerce .part-four .part-four-header .title h4{
    font-size: 20px;
    font-weight: 500;
} 
.content .commerce .part-four .part-four-header .title p{
    font-size: 13px;
    color: var(--text-color);
}
.content .commerce .part-four .part-four-header .stats span:not(:last-child){
    font-size: 13px;
    padding-left: 20px;
    margin-left: 10px;
    color: var(--text-color);
}
.content .commerce .part-four .part-four-header .stats span:first-child{
    position: relative;
} 
.content .commerce .part-four .part-four-header .stats span:nth-child(2){
    position: relative;
} 
.content .commerce .part-four .part-four-header .stats span:first-child::before, 
.content .commerce .part-four .part-four-header .stats span:nth-child(2):before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
}
.content .commerce .part-four .part-four-header .stats span:first-child::before{
    background-color: var(--main-color);
}
.content .commerce .part-four .part-four-header .stats span:nth-child(2):before{
    background-color: #c0504e;
}
.content .commerce .part-four .part-four-header .stats span:last-child{
    margin-left: 20px;
    background-color: #daf1e9;
    padding: 3px 5px;
    border-radius: 10px;
    border: 1px solid #a6ddc9;
    color: #066f49;
    font-size: 12px;
} 
.content .commerce  select{
    border: none;
    outline: none;
    background-color: #eaf3fd;
    transition: var(--transition);
    border-radius: 10px;
    padding: 5px 0px 5px 10px;
    color: var(--text-color);
    font-size: 14px;
    color: var(--text-color);
    cursor: pointer;
    height: 30px;
}
.content .commerce  select:hover{
    background-color: var(--hover-color);
}
.content .commerce  select:focus{
    border: 1px solid var(--main-color);
    background-color: #eaf3fd;
}
.content .commerce  select option{
    background-color: white;
    outline: none;
    border: none;
}
.content .commerce  select option:hover{
    background-color: var(--icon-bacgroung);
}
.content .commerce .part-four .part-four-image{
    width: 100%;
}
.content .commerce .part-four .part-four-image img{
    width: 100%;
}
@media ((min-width:0px) and (max-width:899px) ) {
    .content .commerce .part-four .part-four-header{
        flex-wrap: wrap;
    }
    .content .commerce .part-four .part-four-header .title{
        margin-bottom: 20px;
    }
    .content .commerce .part-four .part-four-header .stats{
        margin-bottom: 20px;
    }
}
.content .commerce .part-four 
.content .commerce .part-two ,
.content .commerce .part-three,
.content .commerce .part-four{
    background-color: var(--main-back-color);
}
/* end part-one */
/* start products section */
/* start products-system media  */
@media (min-width:1200px) {
    .content .commerce .products-stats{
        grid-area: span 1 / span 8;
        order: 1;
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
    }
    .content .commerce .market{
        grid-area: span 1 / span 4;
        order: 2;
        border-bottom: 1px solid var(--border-color);
    }
    .content .commerce .clients{
        grid-area: span 2 / span 6;
        order: 3;
        border-right: 1px solid var(--border-color);
    }
    .content .commerce .storage{
        grid-area: span 1 / span 6;
        order: 4;
        border-bottom: 1px solid var(--border-color);
    }
    .content .commerce .activities{
        grid-area: span 1 / span 6;
        order: 5;
    }
}
@media (min-width:900px) and (max-width:1199px) {
    .content .commerce .products-stats{
        grid-area: span 1 / span 12;
        order: 1;
        border-bottom: 1px solid var(--border-color);
    }
    .content .commerce .storage{
        grid-area: span 1 / span 12;
        order: 2;
        border-bottom: 1px solid var(--border-color);
    }
    .content .commerce .market{
        grid-area: span 1 / span 6;
        order: 3;
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
    }
    .content .commerce .activities{
        grid-area: span 1 / span 6;
        order: 4;
        border-bottom: 1px solid var(--border-color);
    }
    .content .commerce .clients{
        grid-area: span 2 / span 12;
        order: 5;
    }
}
@media (min-width:0px) and (max-width:899px) {
    .content .commerce .products-stats{
        grid-area: span 1 / span 12;
        order: 1;
        border-bottom: 1px solid var(--border-color);
    }
    .content .commerce .storage{
        grid-area: span 1 / span 12;
        order: 2;
        border-bottom: 1px solid var(--border-color);
    }
    .content .commerce .market{
        grid-area: span 1 / span 12;
        order: 3;
        border-bottom: 1px solid var(--border-color);
    }
    .content .commerce .activities{
        grid-area: span 1 / span 12;
        order: 4;
        border-bottom: 1px solid var(--border-color);
    }
    .content .commerce .clients{
        grid-area: span 2 / span 12;
        order: 4;
    }
}
/* end products-system media  */
/* start product stats section */
.content .commerce .products-stats{
    background-color: var(--main-back-color);
}
.content .commerce .products-stats .stats-header .header-text h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.content .commerce .products-stats .stats-header{
    margin-bottom: 30px;
}
.content .commerce .products-stats .stats-header .header-text p{
    color: var(--text-color);
    font-size: 15px;
}
.content .commerce .products-stats .stats-header .header-search .input-field input{
    width: 230px;
    height: 28px;
    margin-right: 16px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background-color: var(--back-color);
    transition: var(--transition);
    padding-left:30px;
}
.content .commerce .products-stats .stats-header .header-search .input-field input:hover{
    background-color: var(--icon-bacgroung);
}
.content .commerce .products-stats .stats-header .header-search .input-field input:focus{
    border-color:var(--main-color) ;
    background-color: var(--hover-color);
}
.content .commerce .products-stats .stats-header .header-search .input-field i{
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    color: var(--text-color);
}
.content .commerce .products-stats .stats-header .header-search  i[class *=ellipsis]{
    cursor: pointer;
    transition: var(--transition);
    padding: 5px 10px;
    border-radius: 5px;
}
.content .commerce .products-stats .stats-header .header-search  i[class *=ellipsis]:hover{
    background-color: var(--icon-bacgroung);
}
@media (max-width:899px) {
    .content .commerce .products-stats .stats-header{
        flex-direction: column;
    }
    .content .commerce .products-stats .stats-header .header-text{
        margin-bottom: 20px;
    }
    .content .commerce .products-stats .stats-header .header-search{
        width: 100%;
        justify-content: space-between;
    }
    .content .commerce .products-stats .stats-header .header-search .input-field{
        width: 70%;
    }
    .content .commerce .products-stats .stats-header .header-search .input-field input{
        width: 100%;
    }
}
.content .commerce .products-stats .stats-table {
    overflow: hidden;
}
.content .commerce .products-stats .stats-table .table-scroll table{
    border-collapse: collapse;
    table-layout: fixed;
    color: var(--text-color);
    font-size: 14px;
}
.content .commerce .products-stats .stats-table .table-scroll::-webkit-scrollbar-track{
    background-color: white;
    height:10px;
}
.content .commerce .products-stats .stats-table .table-scroll::-webkit-scrollbar-thumb{
    background-color: var(--border-color);
}
.content .commerce .products-stats .stats-table .table-scroll::-webkit-scrollbar{
    height: 3px;
}
.content .commerce .products-stats .stats-table .table-scroll thead{
    height: 50px;
    background-color: var(--back-color);
    text-align: left;
    font-size: 15px;
    color: var(--text-color);
}
.content .commerce .products-stats .stats-table .table-scroll thead tr th:first-child{
    width: 20px;
}
.content .commerce .table-scroll thead tr th:not(:first-child){
    padding-left: 10px;
    min-width: 100px;
}
.content .commerce .table-scroll table tbody tr:not(:last-child){
    border-bottom: 1px solid var(--border-color);
}
.content .commerce .table-scroll table tbody tr td:nth-child(2),
.content .commerce .table-scroll table tbody tr td:nth-child(3){
    min-width: 225px;
    height: 60px;
    display: table-cell;
    padding-left: 10px;
}
.content .commerce .table-scroll table tbody tr td:nth-child(2) img{
    width: 30px;
    position: relative;
    top: 50%;
    margin-right: 10px;
    transform: translateY(-50%);
}
.content .commerce .table-scroll table tbody tr td:nth-child(2) a{
    color: var(--text-color);
    transition: var(--transition);
    display: inline-flex;
    align-items: center;
    height: 100%;
}
.content .commerce .table-scroll table tbody tr td:nth-child(3){
    display: inline-flex;
    align-items: center;
}
.content .commerce .table-scroll table tbody tr td:nth-child(3) img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid white;
    transition: var(--transition);
}
.content .commerce .table-scroll table tbody tr td:nth-child(3) img:hover{
    z-index: 10;
    transform: scale(1.2);
    cursor: pointer;
}
.content .commerce .table-scroll table tbody tr td:nth-child(3) img:nth-child(1){
    left: 0;
}
.content .commerce .table-scroll table tbody tr td:nth-child(3) img:nth-child(2){
    left: 15px;
}
.content .commerce .table-scroll table tbody tr td:nth-child(3) img:nth-child(3){
    left: 30px;
}
.content .commerce .table-scroll table tbody tr td:nth-child(3) img:nth-child(4){
    left: 45px;
}
.content .commerce .table-scroll table tbody tr td:nth-child(3) img:nth-child(5){
    left: 60px;
}
.content .commerce .table-scroll table tbody tr td:nth-child(4),
.content .commerce .table-scroll table tbody tr td:nth-child(5),
.content .commerce .table-scroll table tbody tr td:nth-child(6){
    min-width: 180px;
    height: 60px;
    display: table-cell;
}
.content .commerce .table-scroll table tbody tr td:nth-child(6){
    min-width: 220px;
    position: relative;
}
.content .commerce .table-scroll table tbody tr td:nth-child(6) span{
    width: 120px;
    padding: 3px 0;
    border-radius: 10px;
    display: block;
    text-align: center;
}
.content .commerce .table-scroll table tbody tr td:nth-child(6) .table-stock{
    background-color: #daf1e9;
    border: 1px solid #a6ddc9;
    color: #177956;
}
.content .commerce .table-scroll table tbody tr td:nth-child(6) .low{
    background-color: #feeedf;
    border: 1px solid #fdd6b2;
    color: #ac631d;
}
.content .commerce .table-scroll table tbody tr td:nth-child(6) i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--transition);
    width: 30px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
.content .commerce .table-scroll table tbody tr td:nth-child(6) i:hover{
    background-color: var(--icon-bacgroung);
    cursor: pointer;
}
.content .commerce .table-footer{
    color: var(--text-color);
    height: 50px;
    background-color: var(--back-color);
    align-items: center;
    padding: 0 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.content .commerce .table-footer .show span{
    font-size: 12px;
}
.content .commerce .table-footer .show a{
    color: var(--main-color);
    margin-left: 10px;
    font-size: 15px;
    position: relative;
}
.content .commerce .table-footer .show a::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 0%;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    transition: var(--transition);
}
.content .commerce .table-footer .show a:hover::before{
    width: 100%;
}
.content .commerce .table-footer .turn{
    align-items: center;
    font-size: 13px;
}
.content .commerce .table-footer .turn .previous {
    margin-right: 20px;
    color: #999;
    cursor: pointer;
}
.content .commerce .table-footer .turn .previous i{
    margin-right: 2px;
}
.content .commerce .table-footer .turn .next{
    color: var(--main-color);
    font-size: 15px;
    cursor: pointer;
}
.content .commerce .table-footer .turn .next i{
    margin-right: 4px;
}
@media (max-width:899px) {
    .content .commerce .table-footer .show span{
        font-size: 9px;
    }
    .content .commerce .table-footer .show a{
        font-size: 12px;
        margin-left: 5px;
    }
    .content .commerce .table-footer .turn .previous{
        margin-right: 10px;
    }
    .content .commerce .table-footer .turn{
        font-size: 10px;
    }
    .content .commerce .table-footer .turn .next{
        font-size: 12px;
    }
}
/* end product stats section */
/* start storage  */
.content .commerce .storage{
    background-color: var(--main-back-color);
}
.content .commerce .market-header{
    align-items: center;
    margin-bottom: 20px;
}
.content .commerce .market-header .market-text h3{
    color: var(--text-color);
    font-size: 20px;
    margin-bottom: 10px;
}
.content .commerce .market-header .market-text p{
    color: var(--text-color);
    font-size: 15px;
}
.content .commerce .market-header i{
    width: 30px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    transition: var(--transition);
    cursor: pointer;
}
.content .commerce .market-header i:hover{
    background-color: var(--hover-color);
}
.content .commerce .storage .storage-line div {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.content .commerce .storage .storage-line div span{
    width: 100%;
    height: 6px;
    transition: var(--transition);
    outline: 4px solid white;
}
.content .commerce .storage .storage-line div span:first-child{
    background-color: #a1c7f8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.content .commerce .storage .storage-line div span:nth-child(2){
    background-color: #c3d3db;
}
.content .commerce .storage .storage-line div span:nth-child(3){
    background-color: #dbe6eb;
}
.content .commerce .storage .storage-line div span:last-child{
    background-color: var(--main-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.content .commerce .storage .storage-line div span:hover{
    transform: scaleY(1.3);
    border-radius: 5px;
}
.content .commerce .storage .reference span{
    font-size: 11px;
    padding-left: 20px;
    position: relative;
}
.content .commerce .storage .reference span::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.content .commerce .storage .reference span:nth-child(1)::before{
    background-color:#a1c7f8 ;
}
.content .commerce .storage .reference span:nth-child(2)::before{
    background-color:#c3d3db;
}
.content .commerce .storage .reference span:nth-child(3)::before{
    background-color:#dbe6eb ;
}
.content .commerce .storage .reference span:nth-child(4)::before{
    background-color:var(--main-color);
}
/* end storage  */
/* start market  */
/* @media (min-width:768px) and (max-width:1199px) {
    .content .commerce .market .market-stats{
        flex-direction: row;
        justify-content: space-between;
    }
    .content .commerce .market .market-stats .image-stats{
        flex-basis: 40%;
        margin-bottom: 0;
    }
    .content .commerce .market .brands-stats{
        flex-basis: 55%;
    }
} */
.content .commerce .market{
    background-color: var(--back-color);
}
.content .commerce .market .market-stats .image-stats{
    margin-bottom: 30px;
}
.content .commerce .market .market-stats .total {
    position: absolute;
    color: var(--text-color);
}
.content .commerce .market .market-stats .total span{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
}
.content .commerce .market .market-stats .total p{
    font-size: 11px;
}
.content .commerce .market .brands-stats .brand-box  {
    border-top: 1px solid var(--border-color);
    padding: 15px 0;
    align-items: center;
    color: var(--text-color);
    padding-left: 20px;
}
.content .commerce .market .brands-stats .brand-box::before{
    content: "";
    width: 7px;
    height: 60%;
    position: absolute;
    left: 0;
    border-radius: 10px;
} 
.content .commerce .market .brands-stats .brand-box:nth-child(1)::before{
    background-color: #7db1f5;
}
.content .commerce .market .brands-stats .brand-box:nth-child(2)::before{
    background-color: #c3d3db;
}
.content .commerce .market .brands-stats .brand-box:nth-child(3)::before{
    background-color: #77878f;
}
.content .commerce .market .brands-stats .brand-box:nth-child(4)::before{
    background-color: var(--main-color);
}
.content .commerce .market .brands-stats .brand-box img{
    margin-right: 5px;
    width: 25px;
}
.content .commerce .market .brands-stats .brand-box .brand-image span{
    margin-bottom: 5px;
    display: inline-block;
    font-size: 12px;
}
.content .commerce .market .brands-stats .brand-box .brand-image p {
    color: initial;
    font-size: 14px;
}
@media (min-width:900px) {
    .content .commerce .market .brands-stats .brand-box .brand-image p{
        display: inline-block;
        margin: 0;
        margin-left: 20px;
    }
}
.content .commerce .market .brands-stats .brand-box .amount-stats {
    background-color: #d3ede6;
    border: 1px solid #066f49;
    color: #066f49;
    padding: 2px 7px;
    border-radius: 20px;
    font-size: 10px;
}
.content .commerce .market .brands-stats .brand-box .minus , 
.content .commerce .market .brands-stats .brand-box .middle{
    padding: 2px 7px;
    border-radius: 20px;
    font-size: 10px;
}
.content .commerce .market .brands-stats .brand-box .minus{
    background-color: #e9adb8;
    border: 1px solid #e9adb8;
    color: #b11d37;
}
.content .commerce .market .brands-stats .brand-box .middle{
    background-color: #f7eadc;
    border: 1px solid #f8d3b0;
    color: #ac631d;
}
/* end market  */
/* start clients */
.content .commerce .clients{
    background-color: var(--back-color);
    color: var(--text-color);
}
.content .commerce .month-header{
    margin-bottom: 20px;
    align-items: center;
}
.content .commerce .month-header h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.content .commerce .month-header p{
    font-size: 15px;
}
.content .commerce .world-image {
    overflow: hidden;
    padding-bottom: 20px;
    height: 400px;
}
.content .commerce .world-image img{
    width: 100%;
    height: 100%;
}
.content .commerce .world-stats {
    width: 100%;
    overflow: hidden;
}
.content .commerce .world-stats img{
    width: 100%;
    height: 300px;
}
/* end clients */
/* start activities */
.content .commerce .activities{
    background-color: var(--main-back-color);
    color: var(--text-color);
}
.content .commerce .activities .month-header{
    margin-bottom: 35px;
}
.content .commerce .activities .activities-content {
    max-height: 100%;
    overflow: hidden;
}
.content .commerce .activities .activities-content .activities-scroll{
    height: 500px;
    /* scrollbar-width: none; */
    /* scrollbar-gutter: stable; */
    overflow: auto;
}
.content .commerce .activities .activities-content .activities-scroll ul li {
    margin-bottom: 10px;
}
.content .commerce .activities .activities-scroll ul li .icon {
    margin-right: 10px;
    position: relative;
}
.content .commerce .activities .activities-scroll ul li .icon::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--border-color);
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border-radius: 10px;
}
.content .commerce .activities .activities-scroll ul li .icon i{
    width: 25px;
    height: 25px;
    background-color: var(--hover-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    color: var(--main-color);
    position: relative;
    z-index: 100;
}
.content .commerce .activities .activities-scroll ul li .activity-text{
    padding-bottom: 15px;
}
.content .commerce .activities .activities-scroll ul li .activity-text > p {
    color: initial;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    margin-bottom: 10px;
}
.content .commerce .activities .activities-scroll ul li .activity-text .hover-text p{
    font-size: 12px;
    line-height: 1.3;
    width: 83%;
    text-align: justify;
}
.content .commerce .activities .activities-scroll ul li .activity-text .hover-text span{
    font-size: 12px;
    color: rgb(156, 174, 184);
    padding-right: 10px;
}
@media (max-width:550px) {
    .content .commerce .activities .activities-scroll ul li .activity-text .hover-text{
        flex-direction: column;
    }
    .content .commerce .activities .activities-scroll ul li .activity-text .hover-text p{
        width: 100%;
        margin-bottom: 10px;
        padding-right: 10px;
    }
}
@media (min-width:989px) and (max-width:1199px){
    .content .commerce .activities .activities-scroll ul li .activity-text .hover-text{
        flex-direction: column;
    }
    .content .commerce .activities .activities-scroll ul li .activity-text .hover-text p{
        width: 100%;
        margin-bottom: 10px;
        padding-right: 10px;
    }
}
.content .commerce .activities .activities-content .activities-scroll::-webkit-scrollbar{
    width: 6px;
}
.content .commerce .activities .activities-content .activities-scroll::-webkit-scrollbar-thumb{
    background-color: var(--border-color);
    border-radius: 10px;
}
.content .commerce .activities .activities-content .activities-scroll::-webkit-scrollbar-track{
    background-color: white;
}
/* end activities */
/* start footer */
footer .footer-container {
    width: 100%;
    height: 40px;
    align-items: center;
    border-top: 1px solid var(--border-color);
}
footer .footer-container .rights {
    position: relative;
    left: 10px;
}
footer .footer-container .rights p{
    color: var(--text-color);
    font-size: 11px;
}
footer .footer-container .rights p span{
    color: var(--main-color);
}
footer .footer-container .version{
    position: relative;
    right: 10px;
}
footer .footer-container .version span{
    font-size: 10px;
    letter-spacing: 1px;
    color: var(--text-color);
}
/* end footer */
/* end products section */